body {
    display : block;
    justify-content: center;
}

#resultado p {
    padding: 5px 10px;
    width: fit-content;
    color: white;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}